:root {
    /* =========================
       TYPOGRAPHY SCALE
    ========================== */
    --text-sm: 1.5rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
  
    /* FONT WEIGHT */
    --font-weight-normal: 300;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
  
    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1;
    --line-height-spaced: 1.5;
  
    /* LETTER SPACING */
    --letter-spacing-tight: -2px;
    --letter-spacing-wide: 3.5px;
  
    /* FONT FAMILY */
    --font-family: "Roboto Condensed", sans-serif;
  
    /* =========================
       COLORS
    ========================== */
    --primary-base: #ff3a3a;
    --primary-tint: rgba(255, 204, 204);
    --primary-shade: #a50606;
  
    --secondary-base: #5b5b5b;
    --secondary-tint: #b8b8b8;
    --secondary-shade: #000000;
  
    --tertiary-base: #459cff;
    --tertiary-tint: #aeccee;
    --tertiary-shade: #0077ff;
  
    --grey-base: #414141;
    --grey-tint: #dfdfdf;
    --grey-shade: #1b1e20;
  
    --white: #ffffff;
    --black: #000000;

    --none: none;


   /* =========================
    TYPOGRAPHY SCALE
   ========================== */
    --navbar-height: 70px;
  }
  