.btns {
    padding: 1.2rem 2.4rem;
    font-weight: var(--font-weight-bold);
    border: none;
    cursor: pointer;
    background-color: var(--primary-base);
    color: var(--white);
  }
  
  .btn-secondary {
    background-color: var(--secondary-base);
  }

  
